
<div class="box header-box">
  <div class="content">
      <!-- <b>Untitled</b> -->
  <input type="text" class="no-highlight edit-input">
      <br>
      <span class="date">Created at 20 Jan 2020</span>
      , <span class="date">Updated at 20 Jan 2020</span>
      <br>
      <a href="/1" class="action-link">Cancel</a>
      |
      <a class="action-link" href="/1">Save</a>
      <!-- | -->
      <!-- <a class="action-link" href="#">Delete</a> -->
      <div class="pull-right">
        <a href="" class="action-link">
          Delete
        </a>
      </div>
  </div>
</div>
<br>
  <textarea name="" class="edit-textarea green-bg"></textarea>