<!-- <div class="box header-box">
  <div class="content">
      <b>Untitled</b>
      <br>
      <span class="date">20 Jan 2020</span>
      <br>
      <a class="view-raw" href="#">View Raw</a>
  </div>
</div>
<br>
<div class="box green-bg monospaced">
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perferendis neque assumenda mollitia est et cumque, earum dicta autem ut ipsum laboriosam dolorem illo eos odio! Enim sint tempore animi?</p>
  </div>
</div> -->

<!-- <br> -->

<div class="box">

  <div class="content index" style="overflow-x:auto;">
    <table>
      <thead>
        <tr>
          <th style="text-align: left">
          Title
        </th>
        <th style="text-align: left; width: 100px">
          When
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="/1">Some title</a>
        </td>
        <td>
          12 Jan 2020
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Some title</a>
        </td>
        <td>
          12 Jan 2020
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Some title</a>
        </td>
        <td>
          12 Jan 2020
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Some title</a>
        </td>
        <td>
          12 Jan 2020
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>