<nav id="nav">
  <div class="clearfix">
    <div class="pull-left">
      <b class="logo">PasteBin</b>
    </div>
    <div class="pull-right">
      <a href="/">Archives</a>
      <a href="/new">New</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</nav>