
<form method="POST" action="/create" id="paste-form">
<div class="box header-box">
  <div class="content">
  <input type="text" name="title" class="no-highlight edit-input" style="margin-bottom: 2px;" required>
      <br>
      <a href="/" class="action-link">Cancel</a>
      |
      <a href="" class="action-link" onclick="submitPasteForm(event)">Save</a>
  </div>
</div>
<br>
<textarea name="body" class="edit-textarea green-bg"></textarea>
</form>
