<div class="box header-box">
  <div class="content">
      <!-- <b>Untitled</b> -->
  <input type="text" class="no-highlight edit-input" style="margin-bottom: 2px;">
      <br>
      <a href="/1" class="action-link">Cancel</a>
      |
      <a class="action-link" href="/1">Save</a>
      <!-- | -->
      <!-- <a class="action-link" href="#">Delete</a> -->
  </div>
</div>
<br>
  <textarea name="" class="edit-textarea green-bg"></textarea>