
<div class="box header-box">
  <div class="content">
      <b>Untitled</b>
      <br>
      <span class="date">Created at 20 Jan 2020</span>
      , <span class="date">Updated at 20 Jan 2020</span>
      <br>
      <a class="action-link" href="/raw/1">View Raw</a>
      |
      <a class="action-link" href="/edit/1">Update</a>
      <div class="pull-right">
      <a class="action-link" href="#">Delete</a>

      </div>
  </div>
</div>
<br>
<div class="box green-bg monospaced">
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perferendis neque assumenda mollitia est et cumque, earum dicta autem ut ipsum laboriosam dolorem illo eos odio! Enim sint tempore animi?</p>
  </div>
</div>